{% extends "base.html" %}

{% block body_font_color %}
#202020;
{% endblock %}

{% block body_color %}
grey lighten-3
{% endblock %}

{% block content %}

<div class="row">
	{% for blog in blogs %}
	<div class="col s12 card blue z-index-2">
		<div class="card-content white-text">
			<h2>
				<a href="{% url 'post' blog.id %}">{{ blog.title }}</a>
			</h2>
			<p>
				Date Posted: {{ blog.time }}<br>
				Blog Number: {{ blog.id }}<br>
			</p>
		</div>
		<div class="card-action">
			<a href="{% url 'post' blog.id %}" class="btn btn-medium waves-effect thick white" style="color:#2196f3;">Read More</a>
		</div>
	</div>
	{% endfor %}

{% endblock %}
